<div class="booyah-box col-10 offset-1">
	<div class="frosty">
		<h1>We are hiring!</h1>
	</div>

	<div>
		&nbsp;
		<div class="row">
			<div class="col-5">
				<h2>Are you</h2>
				<br>
				<ul>
					<li>Able to file a TPS report &nbsp; <i class="far fa-check-square"></i></li>
					<li>Don't question management &nbsp; <i class="far fa-check-square"></i></li>
					<li>Willing to work overtime for free &nbsp; <i class="far fa-check-square"></i></li>
					<li>Don't snitch to the police &nbsp; <i class="far fa-check-square"></i></li>
				</ul>

				<h2>You may be right for us!</h2>

			</div>

			<div class="col-6">
				<%= image_tag image_url('worst-boss-ever.jpg'), class: 'img-fluid round-image' %>
			</div>
		</div>
	</div>
</div>