<nav class="navbar navbar-toggleable-md sticky-top">
	<a class="navbar-brand" href="#">Flixter</a>  
</nav>

<div class="main">
	&nbsp;
</div>

<nav class="navbar navbar-toggleable-md fixed-bottom">
</nav>