<div class="hero">
  <div class="frosty col-xl-5 col-lg-6 col-md-8 col-sm-12 text-shadow-accent-color-dark text-center">
  	<h1>Learn Magic from the Pros</h1>
  	<br>
  	<h2>I'm an illusionist, Michael.</h2>
  	<br>
  	<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>