<div class="booyah-box col-10 offset-1">
	<div class="frosty">
		<h1>Flixter's Privacy Policy</h1>
	</div>

	<br>
	<br>
	
	We don't believe in privacy and will sell your data to the highest bidder.
	
	<br>
	<br>
	<%= image_tag 'privacy.jpg', class: 'img-fluid round-image' %>
</div>