<li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
	<div class="header">
		<span class="fa fa-ellipsis-v"></span>

		<%= section.title %>
	</div>

	<button type="button" class="btn btn-primary btn-sm float-right new-lesson-button" data-toggle="modal" data-target="#new-lesson" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
  		Add Lesson
	</button>

	<br class="clr" />
	<br class="clr" />
	
	<ul class="lessons">
		<% section.lessons.rank(:row_order).each do |l| %>
			<%= render partial: 'instructor/lessons/lesson', locals: {lesson: l} %>
		<% end %>
	</ul>

	&nbsp;
</li>