<li>
	<%= section.title %>
	<% if current_user && current_user == section.course.user %>
		<%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
	<% end %>

	<ul>
		<% section.lessons.each do |l| %>
			<%= render partial: 'instructor/lessons/lesson', locals: {lesson: l} %>
		<% end %>
	</ul>

	&nbsp;
</li>