<li data-update-url="<%= instructor_lesson_path(lesson) %>">
	<div class="row">
		<div class="col-1">
			<span class="fa fa-ellipsis-v"></span>
		</div>

		<div class="col-11 text-center">
			<p>
				<b><%= lesson.title %></b>
			</p>
			<hr style="color: #666; border-top: solid 1px;">
			<p>
				<%= lesson.subtitle %>
			</p>
		</div>
	</div>
</li>