<br />

<div class="booyah-box col-10 offset-1">
	<div class="frosty">
  		<h1 class="text-center">Learn something today</h1>
	</div>
</div>

<br class="clr">

<% @courses.each do |c| %>
	<%= render partial: 'courses/course', locals: {course: c} %>
<% end %>
