/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$accent-color: #28a443;
$accent-color-dark: #3c8121;
$accent-color-light: #2ac64d;
$primary-font: 'Paytone One', sans-serif;
$primary-color: #999;
$primary-shadow-color: #111;
$dark-shadow-color: #111;

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

body {
	background-image: image_url('brushed_alu_dark.png');
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

a:hover {
	color: $accent-color-light;
}

.text-shadow-accent-color-dark {
	text-shadow: 4px 4px 5px $accent-color-dark;
}

.navbar {
  font-family: $primary-font;
  font-weight: 200;
  background-image: image_url('low_contrast_linen.png');
  color: $accent-color;
  box-shadow: 0px 10px 8px $primary-shadow-color;
}

.navbar-brand {
	font-size: 40px;
	color: $accent-color;
}

.fixed-bottom {
  	box-shadow: 0px -10px 8px $primary-shadow-color;
}

.hero {
  box-shadow: 0px 10px 8px $primary-shadow-color;
  padding: 30px;
  background: image_url('hero.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 370px;
  min-height: 200px;
  box-shadow: 0px 10px 8px $primary-shadow-color;
  position: sticky;
  margin-bottom: 30px;

  h1 {
  	font-size: 35px;
  }

  h2 {
  	font-size: 25px;
  }
}

.frosty {
	background-color: rgba(0, 0, 0, 0.7);
	color: $accent-color;
	border-radius: 5px;
	padding: 5px 10px 10px 10px;
	box-shadow: 10px 10px 8px $dark-shadow-color;

	h1 {
		font-weight: 100;
	}

	h2 {
		font-weight: 200;
	}

	ul {
		list-style: none;
	}
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.collapse-overlay {
	position: relative;
	text-align: left !important;
}

.booyah-box {
  box-shadow: 10px 10px 8px $primary-shadow-color;
  background-image: image_url('crossword.png');
  border: 2px solid $primary-color;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}